<div class="category-container">
  <h2>Kategoria </h2>
  <div class="product-grid">
    <div class="product-tile">
      <img src="product.image" alt="Produkt">
      <div class="product-price">Cena: </div>
    </div>
  </div>
</div>

<!-- jakos tak powinno wygladac generowanie siatki z produktami, na gorze tylko testowo
     <div class="category-container">
  <h2>Kategoria {{ categoryId }}</h2>
  <div class="product-grid">
    <div *ngFor="let product of products" class="product-tile">
      <img [src]="product.image" alt="Produkt">
      <div class="product-price">Cena: {{ product.price }}</div>
    </div>
  </div>
</div> -->