<div class="container">
        <h2>Koszyk</h2>  
        <div class="product-container">
            <div class="product-image">
              <img src="sciezka/do/zdjecia-produktu" alt="Zdjęcie produktu">
            </div>
            <div class="product-details">
              <div class="product-price">
                Cena: <span id="price">29.99 zł</span>
              </div>
              <div class="quantity">
                Ilość:
                <button id="decrement">-</button>
                <span id="quantity">1</span>
                <button id="increment">+</button>
              </div>
            </div>
          </div>
    </div>
  
