<div class="wrapper">
  <header>
    <h1>Sklep z odzieżą</h1>
    <a routerLink="/koszyk" class="cart-link"><img class="cart" src="./assets/cart.jpg" alt="Koszyk"></a>
  </header>

  <nav>
    <ul>
      <li><a routerLink="/kategoria">Kategoria 1</a></li>
      <li><a routerLink="'/kategoria/' + categoryId">Kategoria 2</a></li>
      <li><a routerLink="'/kategoria/' + categoryId">Kategoria 3</a></li>
      <li><a routerLink="'/kategoria/' + categoryId">Kategoria 4</a></li>
      <li><a routerLink="'/kategoria/' + categoryId">Kategoria 5</a></li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <p>&copy; 2023 Sklep z odzieżą. Wszelkie prawa zastrzeżone.</p>
  </footer>
</div>